# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PlantsVsZombies.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\GitProjects\PlantsVsZombies\PlantsVsZombies\.idea\.idea.PlantsVsZombies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
